body {
  background-color: hsl(0, 0%, 0%);
  color: hsl(69 64% 67% / 1);
  font-family: "My Soul", cursive;
  margin: 0;
  letter-spacing: 1.5px;
}

div.image-wrapper,
div.table-wrapper {
  margin: 0 auto;
}

div.image-wrapper {
  text-align: center;
}

div.table-wrapper {
  overflow: scroll;
}

i {
  font-size: 36px;
  padding: 8px;
}

a {
  align-items: center;
  background-color: hsl(69 64% 67% / 1);
  border-radius: 15px;
  color: hsl(39.82deg 4.53% 19.57% / 88%);
  display: flex;
  justify-content: center;
  margin: 5px auto;
  max-width: 45%;
  padding: 8px;
  text-decoration: none;
  border: 3px solid hsl(69 64% 57% / 1);
}
a:hover {
  background-color: hsl(69 64% 72% / 1);
  color: hsl(39.82deg 4.53% 9.57% / 88%);
}
a:active {
  background-color: hsl(69 64% 47% / 1);
  transform: translate(1px, 1px);
}

h1 {
  font-size: 32px;
  margin: 0 4px;
  text-align: center;
}

img {
  border-bottom: 2px ridge hsl(68.89deg 64.29% 67.06% / 48%);
  border-radius: 2px;
  margin-bottom: 5px;
  height: auto;
  width: 75vw;
}

table {
  background-color: hsl(39.82deg 4.53% 19.57% / 88%);
  border-collapse: collapse;
  font-size: 32px;
  margin: 18px auto;
  table-layout: auto;
  width: 81%;
}

tbody {
  font-size: 22px;
}

th,
td {
  padding: 5px 10px;
  border: 1px solid hsl(92, 12%, 22%);
}

th {
  font-weight: bold;
}

footer {
  font-size: 18px;
  margin: 16px 0 32px 0;
  text-align: center;
}

@media (max-width: 800px) {
  i {
    font-size: 32px;
  }
  h1 {
    font-size: 28px;
  }
  table {
    font-size: 26px;
  }
  tbody {
    font-size: 18px;
  }
}
@media (max-width: 650px) {
  i {
    font-size: 28px;
  }
  h1 {
    font-size: 24px;
  }
  table {
    font-size: 22px;
  }
  tbody {
    font-size: 17px;
  }
  th,
  td {
    padding: 2px 4px;
  }
}
@media (max-width: 600px) {
  i {
    font-size: 26px;
  }
  h1 {
    font-size: 22px;
  }
  table {
    font-size: 20px;
  }
  tbody {
    font-size: 16px;
  }
}
